body {
    font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: black;

    font-size: 32px;
}

ul {
    width: 60%;
    list-style: none;
}

li {
    margin: 10px 0;
    background-color: #303030;
    color: white;
}

.main {
    background-color: #303030;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 4px solid red;
    padding: 0 20px;
}

.sub-main,
.sub-main-cost {
    background-color: #303030;
    padding: 10px 10px;
    display: none;
}

.show {
    display: block;
}

.main i {
    cursor: pointer;
}
